@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-color: #464646;
  color: white;
}
.menubar {
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 40px;
  margin: 0px;
  padding: 0px;
  height: auto;
  overflow: hidden;
  background-color: #545b73;
  border-radius: 10px;
}

.menubar ul {
  list-style-type: none;
}

.menubar ul li {
  float: left;
}

.menubar ul li a {
  font-family: Arial;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
}

.menubar ul li a:hover {
  background-color: #1111;
}

#linktogithub {
  color: orange;
}

#logo {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
}

#menubuttons-right {
  margin-left: auto;
}

.headings {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 25px;
  text-align: center;
}

.heading-description {
  color:  #D3D3D3;
}

.left-navigators {
  width: 240px;
  height: 100vh;
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.left-navigators a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.2s;
}

.left-navigators a:hover {
  background-color: #D3D3D3;
  color: black;
}

.download-links p {
  color: white;
  text-decoration: none;
}

.download-links a {
  color: white;
  text-decoration: underline;
}

footer {
  font-size: 14px;
}

.main-content {
  margin-left: 240px;
  padding: 40px;
  flex-grow: 1;
}
