@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #f0f0f0;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.menubar {
  display: flex;
  background-color: rgb(40, 40, 96);
}

.menubar ul {
  list-style-type: none;
}

.menubar ul li {
  float: left;
}

.menubar ul li a {
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
}

.menubar a:hover {
  color: orange;
}

.menubar ul li a:hover {
  background-color: #1111;
}

#linktogithub {
  font-size: 13pt;
  color: orange;
}

#linktogithub:hover {
  color: orangered;
}


#logo {
  padding-left: 10px;
  max-width: 200px;
  max-height: 100px;
}

#menubuttons-right {
  margin-left: auto;
}

.headings {
  font-size: 25px;
  text-align: center;
}

.heading-description {
  color:  #7d7c7c;
}

.download-links p {
  color: cyan;
  text-decoration: none;
}

.download-links a {
  color: cyan;
  text-decoration: underline;
}

.bottom-menus ul li {
  float: left;
  list-style-type: none;
}

.bottom-menus ul li a {
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
}

.bottom-menus a:hover {
  color: orange;
}

.footer {
  color: white;
  background-color: rgb(40, 40, 96);
  padding: 20px;
}


.main-content {
  flex: 1;
  padding: 40px;
  color: var(--text-color);
}
